.wrapper{
    margin-left:260px;
    min-width:1563;
}
.noteList{
    margin-right:80px;
    min-width:1663;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
}

.card:hover{
    transform: scale(1.1);

}

#title{
    margin-left: 5px;
}