.wrapper{
    margin-top: 20px;
    margin-left:250px;
    min-width:1563;
}
.noteList{
    min-width:1663;
    margin-left:70px;
    margin-right:100px;
    margin-top:40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
}

